.main-item {
  display: flex;
  justify-content: center;
}
.content-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.content-item1 h1 {
  font-size: 24px;
  font-weight: 700;
  color: #3d3d3d;
  line-height: 29px;
  border-bottom: 1px solid #dadada;
}
.content-item1 p {
  margin-top: 40px;
}
.img-item img {
  width: 440px;
  height: 364px;
}
.footer-item {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .card-item {
    flex-direction: column;
    width: 550px;
    height: 750px;
    align-items: center;
  }
}

.similar-card {
  display: flex;
  flex-direction: column;
  width: 369px;
  height: 232px;
  background-color: #00063f80;
  background-image: linear-gradient(
      90deg,
      rgba(0, 6, 63, 0.5) 0%,
      rgba(0, 6, 63, 0.5) 100%
    ),
    url("../../images/similar.png");
  background-size: cover;
  border-radius: 10px;
  margin: 5px;
  justify-content: space-between;
}
.similar-content h1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  line-height: 29px;
  text-align: center;
  position: relative;
  top: 20px;
}
.similar-news {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  top: 400px;
  width: 80%;
}
.main-similar {
  width: 100%;
  position: relative;
  top: 35px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .similar-news {
    top: 800px;
  }
}
.similar-news p {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
.data {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer-similar {
  display: flex;
  margin: 5px;
}
.footer-similar span {
  font-size: 10px;
  color: white;
  line-height: 12px;
  font-weight: 400;
}
#news{
  margin: 5px;
}
