@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2";
}
body {
  background-color: #e5e5e5;
}
.header {
  background-color: red;
  background: linear-gradient(
    269.38deg,
    rgba(172, 0, 253, 0.58) 20.07%,
    rgba(0, 248, 233, 0.58) 82.18%
  );
  background-image: url("images/background-img.jpg");
  background-size: cover;
  height: 296px;
}
.news{
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
}
.header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  width: 100px;
}
.title-bar nav {
  width: 100%;
}
.title-bar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}
nav ul li {
  margin: 10px;
  background-color: white;
  height: 43px;
  text-align: center;
  padding: 10px 20px;
  list-style: none;
  border-radius: 10px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.2px;
}